.App {
  text-align: center;
}

.root {
  display: grid;
  grid-template-columns: auto 1fr;
}

body {
  background-color: #23272f;
  color: #ffffff;
}

/** **/
.main-content {
  margin-left: 290px;
  height: 100vh;
}

h1 {
  margin: 0;
}
